.header-container {
  justify-content: space-between;
  align-items: center;
}

.header-photo {
  background-color: var(--color-primary);
  width: 22rem;
  height: 22rem;
  overflow: hidden;
  border-radius: 11rem;
  margin-top: 2rem;
}