#experience {
  justify-content: flex-start;
}

.experience-container {
  gap: 0.8rem;
  justify-content: space-between;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--color-primary);
  padding: 0.8rem;
  border-radius: 1rem;
  width: calc(50% - 1.6rem);
  min-width: 20rem;
  background-color: var(--color-transparent);
  transition: var(--transition);
}

.card:hover {
  background-color: var(--color-bg-2);
}