.nav-bar {
  position: fixed;
  top: 1rem;
  right: 2rem;
  display: flex;
  gap: 0.8rem;
  background-color: var(--color-transparent);
  padding: 1rem;
  border-radius: 2rem;
  z-index: 5;
  backdrop-filter: blur(15px);
}

.nav-bar a {
  display: flex;
  gap: 0.2rem;
  align-items: center;
}

/* ================= MEDIA QUERIES (SMALL) ================= */
@media screen and (max-width: 600px) {
  .nav-bar {
    top: 0;
    right: 0;
    left: 0;
    border-radius: 0;
    justify-content: space-around;
  }

  .hide {
    display: none;
  }
}
